:root {
    --blanco: #fff;
    --fuentePrincipal: "Nerko One", cursive;
    --fuenteAlterna: "Handjet", sans-serif;

    --color-primario: #2A9D8F;
    --color-secundario: #264653;
    --color-acento: #E76F51;
    --color-fondo: #F4A261;
    --color-texto: #1D3557;
    --color-fondo-claro: #F1FAEE;
}

.upper {
    text-transform: uppercase;
}

.centrar-texto {
    text-align: center;
}

.no-espacios {
    margin: 0 !important;
    padding: 0 !important;
}

.object {
    max-width: 1200px !important;
    margin: 0 auto !important;
}

body {
    font-family: var(--fuentePrincipal);
    font-weight: 600;
    background-color: var(--color-fondo-claro);
    max-width: 1200px;
    margin: 0 auto;
}

.padre {
    width: 80%;
    margin: 0 auto;
}

.padre-hab {
    width: 60%;
    margin: 0 auto;
}

li {
    list-style: none;
}


/*!Nav*/

.siempre {
    display: flex;
    flex-direction: row;
    height: 120px;
    justify-content: space-between;
    width: 100%;
    border-radius: 2px;
    background-color: var(--color-acento);
}

.siempre__nombre h2 {
    color: var(--blanco);
    font-size: 30px;
    text-transform: capitalize;

}

.siempre__nombre {
    margin-left: 20px;
}

.siempre__nav,
.siempre__nombre {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width >=768px) {
    .siempre__nav svg {
        cursor: pointer;
    }
}

.siempre__nombre {
    width: 30%;
}


/*! Main */
h1 {

    text-transform: uppercase;
}


.sobre-mi__parrafo {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.mi-descripcion {
    display: flex;

}

.descripcion__parrafo {
    font-family: var(--fuenteAlterna);
}

.imagen-autor {
    width: 70%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 1.2rem;
}

.mi-imagen {
    padding: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
}


@media (width>=768px) {
    .estudiante {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: auto;
    }

    .mi-imagen {
        margin-top: 0px;
        border-radius: 0;
    }

    .imagen-autor {
        aspect-ratio: 3/4;
        width: 100%;
    }


}

@media (width>=1024px) {
    .estudiante {
        grid-template-columns: 2fr 1fr;

    }

    .imagen-autor {
        aspect-ratio: 12/9;
    }

    .acerca-estudiante {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sobre-mi {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

/*!Acerca de mi  */
.acerca-estudiante {
    background-color: var(--color-fondo);
    padding-bottom: 20px;

}

@media (width >=768px) {

    .acerca-estudiante {
        border-radius: 0;
    }
}

.contenedor-estudiante {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.estudiante__caracteristica p {
    font-family: var(--fuenteAlterna);
}


/* !mi historia */

.mi-historia__title {
    font-size: 30px;
}

.mi-historia__svg svg {
    width: 100%;
    height: 100%;
    display: block;
}

.mi-historia--grid {
    display: grid;
    grid-template-columns: 1fr;

}

.mi-historia__svg {
    grid-row: 4/5;
}

.mi-historia {
    background-color: var(--color-primario);
}

.mi-historia__contenedor {
    padding: 10px;
}

.mi-historia__parrafo {
    font-family: Arial, Helvetica, sans-serif;
}

@media (width>=768px) {

    .mi-historia--grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "p1 p1 p2"
            "p3 img p4"
            "p3 p5 p5"
        ;
        gap: 10px;
        justify-items: center;
        align-items: center;

    }

    .p1,
    .p2,
    .p3,
    .p4,
    .p5,
    .p6 {
        padding: 5px 5px;
    }

    .p1 {
        grid-area: p1;
    }

    .p2 {
        grid-area: p2;
    }

    .p3 {
        grid-area: p3;
    }

    .p4 {

        grid-area: p4;
    }

    .p5 {
        grid-area: p5;
    }

    .mi-historia__svg {
        grid-area: img;
    }


}
@media (min-width: 768px) {
    .mi-historia__title{
        font-size: 60px;
        margin-bottom: none;
        padding-bottom: none;
    }
}

/* !habilidades */





.tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.habilidades {
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tarjeta__info p {
    text-align: center;
}



.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tarjeta__svg {
    display: flex;
    justify-content: center;
}

.tarjeta__svg svg {
    width: 50%;
    height: 50%;
}

@media (width>=768px) {
    .tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .habilidades {
        max-width: none;

        margin-bottom: 30px;
    }

    .tarjeta {
        flex-direction: column;
    }

    .padre-hab {
        width: 70%;
    }

}

@media (width>=1024px) {
    .tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .habilidades {
        margin-bottom: 30px;
    }

    .tarjeta {
        flex-direction: column;
    }

    .padre-hab {
        width: 80%;
    }
}



/* !FORMULARIO */

.form__list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form__list li label {
    margin-top: 10px;
}

.form__list li:last-of-type {
    margin-top: 10px;
}

.form-title {
    text-transform: capitalize;

}

.contenedor-form {

    padding: 8px;


    background-color: var(--color-secundario);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-total {
    color: var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
}

.form__list li input {


    font-size: 30px;
}


.form__list li textarea :first-of-type {
    width: 100%;
}

@media (width >=768px) {
    .form__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 25px
    }

    .form__list li:nth-child(3) {
        grid-column: 1/3;

    }

    .form__list li:last-of-type {
        grid-column: 1/3;
    }


    .form__list li input {


        font-size: 20px;
    }
}


/*!footer  */